body{
	background-color:#D9F0FF;
}
h1{
    //background-color:red;
    //transform:rotate(-30deg);
    //-webkit-transform:rotate(-30deg);
    
}
#sudoku_background{
	/*/margin-top:30px;/*/
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width: 334px;
	height:343px;
	border-radius:25px; 
   -moz-border-radius:25px;
	box-shadow: 10px 10px 5px #888888;
	background-color:#004996;
}
#sudoku_board{
	position:absolute;
	width:284px; 
	height:293px;
	margin-left:25px;
	margin-top:25px;
	background-color:#000000; 
	line-height:.8em;
}

#controls button{
    //background-color:black;
    //text-color:white;
    //border:2px solid;
    width:7em;
    height:3em;
    transition: width 1s, height 1s;
    -webkit-transition: width 1s, height 1s;
    border-radius:15px;
    box-shadow: 10px 10px 5px #888888;
    font-weight:bold;
}

#hoverEffect button:hover{
    width:9em;
}

#newGame,
#newGame ul{
    list-style: none;
}

#newGame li {
    display:block;
    text-decoration:none;
}

#newGame ul {
    position:absolute;
    display:none;
    z-index:999;
}

#newGame li:hover ul {
    display: block;
}

#newGame > li {
    font-weight: bold;
}
