body{
	background-color:#D9F0FF;
}
#sudoku_background{
	/*/margin-top:30px;/*/
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width: 334px;
	height:343px;
	border-radius:25px; 
   -moz-border-radius:25px;
	box-shadow: 10px 10px 5px #888888;
	background-color:#004996;
}
#sudoku_board{
	position:absolute;
	width:284px; 
	height:293px;
	margin-left:25px;
	margin-top:25px;
	background-color:#000000; 
	line-height:.8em;
}

